*{
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0px;

}

/* header of landing page */
.headercontainer{
    display: flex;    
}
.header{
    display:flex;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    }
    
    .logo{
    font-size: 24px;
    color: #F9FAF8;
    }

    ul{
        list-style: none;
        margin:0;
        padding: 0;
    }

    .headerlinks{
        display: flex;
        justify-content: space-around;
        font-size:18px;
        color: #E5E7EB;
    }

    .herotext{
        font-size: 48px;
        font-weight: bolder;
        color:#F9FAF8;
        }

    .subtext{
        font-size:18px;
        color: #E5E7EB;
        flex-wrap: wrap;
    }

    .signup{
        background-color: #388Ff6;
        border-radius: 5px;
        display: flex;
        align-items: center;
        color: white;
        padding: 10px;
        border-style: solid;
        height:2px;
        align-self: start;
        font-weight: bolder;
    }
    .textnsignup{
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .threeyeezyheader{
       display: flex;
       margin-left: 20px;
       width: 450px;
        height: 200px;
        align-self: flex-end;
    }

    img{
      height: 100%;
       width: 100%;
    object-fit: fill;
    }

/* each side of the header */
.leftsideheader{
  display: flex;
  margin-left: 40px;
  justify-content: space-around;
}
.rightsideheader{
 display: flex;
}
.leftsideheader,
.rightsideheader{
    flex-direction: column;
    gap: 30px;
    flex:1;
}

/* second section of landing page */

.body{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bodycontainer{
    display: flex;
}

    .h2body{
        color: black;
        font-size:36px;
        font-weight: bolder;
        display: flex;
        justify-content: center;
    }

    .imgs{
        display: flex;
        flex-direction: row;
        margin-bottom: 80px;
        justify-content: space-evenly;
        }
        .bodyimagesandtext{
            display: flex;
            flex-direction: column;
                }
                .bodyimg{
                    border: 5px;
                    border-color: #388Ff6;
                    border-style: solid;
                    border-radius: 10px;
                    height: 150px;
                    width: 150px;
                }
                .bodyimagestxt{
                    width: 150px;
                }
/* third section of landing page */

.quotesection{
    background-color: #E5E7EB;
    display: flex;
    height: 300px;
}

    .quotetext{
    font-size:36px;
    display:flex;   
    flex-direction: column;
    margin: 60px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.quotemain{
    display: flex;
    font-style: italic;
}

.quotebythor{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
    margin-right: 30px;
}
/* fourth section of landing page */

.callcontainer{
 padding: 50px;
}
.calltoaction{
    background-color: #3882f6;
    border-radius: 10px;   
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}


.itstime-signup{
    flex-direction: column;
    display:flex;
    justify-content: center;
    margin-left: 40px;
}
.itstime{
    font-weight: bolder;
}

.calltoactionsignup{
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    background-color: #388Ff6;
    justify-content: center;
    display: flex;
    color: white;
    align-items: center;
    padding: 10px;
    height: 2px;
    align-self: center;
    
}
/* footer of landing page */
.footer{
 color: white;
 display: flex;
 justify-content: center;

}

.footercontainer,
.headercontainer{
    background-color: #1f2937;
}